/* Imports */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  .appMount-2yBXZl {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/


  
  /* 2. User Settings */
  .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh,
  .uploadModal-2ie9O_ .footer-VCsJQY,
  .uploadModal-2ie9O_ .inner-rBP-MS .channelTextAreaUpload-30SRDh .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  


